.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   

.hidden {
    display: none;
}

.cardBody {
    display: flex;
    width: 30vw;
    justify-content: space-between;
} 

#restart {
    display: flex;
}